<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="output.css">
</head>

<body>
    <header>
        <h1 class="">Lazy Email</h1>
    </header>
    <main>
        <div class="card">
            <form>
                <label for="Recipients">Enter Recipients:</label>
                <input type="text" id="Recipients" name="Recipients"><br> <br>
                <label for="Prompts">Prompts:</label>
                <input type="text" id="Prompts" name="Prompts"><br><br>
                <label for="styleSelect">Choose a style:</label>
                <select id="styleSelect" name="style">
                    <option value="formal">Formal</option>
                    <option value="informal">Informal</option>
                    <option value="auto">Auto</option>
                </select>
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
    <footer class="">
        <div class="Footer">
            <h5 class="">Made by Aayushya & Priyansu</h5><br>
            <div class="githubcontainer">
                <a href="https://github.com/Aayushya-paswan" target="_blank">Aayushya's GitHub</a>
                <a href="https://github.com/priyansu-1o" target="_blank">Priyansu's GitHub</a>
            </div>
            <div class="linkedin">
                <a href="https://www.linkedin.com/in/aayushya78/" target="_blank">Aayushya's Linkedin</a>
                <a href="https://www.linkedin.com/in/priyansu-samanta-7924b930b/" target="_blank">Priyansu's Linkedin</a>
            </div>
        </div>
    </footer>
</body>

</html>