<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Lazy Email</h1>
    <div class="card">
        <form>
            <label for="Recipients">Enter Recipients:</label>
            <input type="text" id="Recipients" name="Recipients"><br><br>

            <label for="Prompts">Prompts:</label>
            <input type="text" id="Prompts" name="Prompts"><br><br>

            <button type="submit">Submit</button>
    </div>
    </form>
</body>

</html>